PORT=4567
CLIENT_ORIGIN=http://localhost:5173,https://web.moon2301.space

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=webcinema_db

SESSION_SECRET=replace_me

## VNPay (sandbox)
VNPAY_TMN_CODE=R4923J2J
VNPAY_HASH_SECRET=P68JKLG8376RKRTBPWCKDD7XR3OYF4TZ
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=https://web.moon2301.space/payment/vnpay-return

## Ticket QR
# Secret để hash mã vé (HMAC SHA256). KHÔNG share lên git thật.
TICKET_HASH_CODE=replace_me


