PORT=4000
WEB_ORIGIN=http://localhost:5173

# DB (PostgreSQL) - sẽ dùng ở branch features/Moon23,db
DATABASE_URL=postgres://postgres:postgres@localhost:5432/nnpud

# JWT - sẽ dùng ở branch features/Moon23/auth
JWT_SECRET=change_me
JWT_EXPIRES_IN=7d

